


.content {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
}

.item {
    border: 1px solid #000;
    min-height: 200px;
}

.item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.box { 
    position: relative;
}

.elem {
    width: 250px;
    height: 150px;;
    position: absolute;
}   

.elem1 {
    background-color: red;
    top: 0;
    left: 0;
    z-index: 2;
}

.elem2 {
    background-color: green;
    left: 75px;  
    top: 75px;
    z-index: 1;
}

.elem3 {
    background-color: blue;
    top: 150px;
    left: 150px;
    z-index: 0;
}